/* ---------------------------------------------- */
/* Header */
/* ---------------------------------------------- */

.topnav {
    font-size: 14px; 
}

/* ---------------------------------------------- */
/* Main */
/* ---------------------------------------------- */

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.container {
    /*width: 960px;*/
    margin-top: 10px;
}

/* ---------------------------------------------- */
/* Effects */
/* ---------------------------------------------- */

.placeholder {
    position: fixed;

    margin-top: -70px;

    width: 100%;
    height: 100%;

    z-index: 9999;

    background-color: #333;
    opacity: 0.6;
}

.placeholder-image {
    margin-top: 14%;
}

.placeholder-text {
    color: white;
}

/* ---------------------------------------------- */
/* Other */
/* ---------------------------------------------- */

#ajaxError {
    display: none;
}

.message-hr {
    margin: 0;
}

.notrealizd {
    display: none;
}

/* ---------------------------------------------- */
/* Game lobby buttons */
/* ---------------------------------------------- */

.lobby-button {
    float: left;
    margin: 1%;
    width: 48%;
    height: 250px;

    padding: 5px;
    border-radius: 4px;

    background-color: #ddd;
}

.lobby-button:hover {
    background-color: #c9d;
}

